---
title: Panda Guard
---

<div class="hero">
  <section class="typeset">
  <h1>Don’t let your website go down because of a forgotten SSL&nbsp;certificate</h1>

  <p>SSL is confusing and certificates can easily get forgotten. You don’t want your users to be the first to tell you that your website’s down!</p>

  <p>Panda Guard keeps a watchful eye on your site, making sure it stays secure and accessible, all of the time. </p>
  </section>
</div>

<section class="typeset">
  <h2>Panda Guard is currently in private beta</h2>
  <p>Sign up to get your invitation.</p>
  <%= partial "signup_form" %>
</section>

<section class="typeset">
  <ul>
    <li>Protect your reputation</li>
    <li>No loss of site visitors and revenue</li>
    <li>Avoid angry support calls or twitter storms</li>
  </ul>
</section>

<section class="typeset feature flip">
  <div class="summary-container">
    <div class="summary">
      <h3>Daily checkup</h3>
      <p>We run a daily check of all your certificates and automatically find any new ones so you don’t can’t forget them</p>
    </div>
  </div>
  <div class="screenshot first">
    <%= image_tag 'screenshot-summary.png' %>
  </div>
</section>

<section class="typeset feature">
  <div class="summary-container">
    <div class="summary">
      <h3>Recommended improvements</h3>
      <p>We test your site works in the latests browsers and security standards and provide you with recommendations so you can keep one step ahead</p>
    </div>
  </div>
  <div class="screenshot second">
    <%= image_tag 'screenshot-recommendations.png' %>
  </div>
</section>

<section class="typeset feature flip">
  <div class="summary-container">
    <div class="summary">
      <h3>Warnings you can’t&nbsp;miss</h3>
      <p>We escalate critical issues to different people in the business so there’s no single point of failure.</p>
    </div>
  </div>
  <div class="screenshot third">
    <%= image_tag 'screenshot-notifications.png' %>
  </div>
</section>

<section class="typeset">
  <p>Sign up to protect your site today</p>
  <%= partial "signup_form" %>
</section>
